<main id="wrapper">
  <div class="container">
    <div class="row">
      <%= render 'shared/sidebar' %>

      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12 overView-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Account Overview</h3>
              </div>
              <div class="panel-body">
                <div class="col-sm-3">
                  <div class="cardOverview">
                    <a href="#">
                      <i class="fa fa-users"></i> 40
                      <h5>Active Tenants</h5>
                    </a>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="cardOverview">
                    <a href="#">
                      <i class="fa fa-home"></i> 115
                      <h5>Homes</h5>
                    </a>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="cardOverview">
                    <a href="#">
                      <i class="fa fa-building-o"></i> 20
                      <h5>Apartments Units</h5>
                    </a>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="cardOverview">
                    <a href="#">
                      <i class="fa fa-book"></i> 15
                      <h5>Reports</h5>
                    </a>
                  </div>
                </div>                
              </div>
            </div>
          </div>

          <div class="col-sm-6 newListings-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">New Property Listings</h3>
              </div>

              <div class="panel-body table-responsive">
                <table class="table table-condensed table-bordered customTable">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Location</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Single Family Unit</td>
                      <td>44 Long John, New Mexico,USA</td>
                    </tr>
                    <tr>
                      <td>Single Family Unit</td>
                      <td>44 Long John, New Mexico,USA</td>
                    </tr>
                    <tr>
                      <td>Single Family Unit</td>
                      <td>44 Long John, New Mexico,USA</td>
                    </tr>
                    <tr>
                      <td>Single Family Unit</td>
                      <td>44 Long John, New Mexico,USA</td>
                    </tr>
                    <tr>
                      <td>Single Family Unit</td>
                      <td>44 Long John, New Mexico,USA</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-sm-6 newTenants-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">New Tenants</h3>
              </div>

              <div class="panel-body table-responsive">
                <table class="table table-striped customTable">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Property</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Kevin James</td>
                      <td>44 Long John, New Mexico,USA</td>
                    </tr>
                    <tr>
                      <td>Tony Parker</td>
                      <td>44 Long John, New Mexico,USA</td>
                    </tr>
                    <tr>
                      <td>Wes Bos</td>
                      <td>44 Long John, New Mexico,USA</td>
                    </tr>
                    <tr>
                      <td>Allan Iverson</td>
                      <td>44 Long John, New Mexico,USA</td>
                    </tr>
                    <tr>
                      <td>Wayne Rooney</td>
                      <td>32 Hover Road, New York,USA</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-sm-8 newReports-panel">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">New Reports</h3>
              </div>

              <div class="panel-body table-responsive">
                <table class="table table-striped customTable">
                  <thead>
                    <tr>
                      <th>Author</th>
                      <th>Property</th>
                      <th>Status</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Kevin James</td>
                      <td>44 Long John, New Mexico,USA</td>
                      <td>pending</td>
                      <td>01/02/2018</td>
                    </tr>
                    <tr>
                      <td>Tony Parker</td>
                      <td>44 Long John, New Mexico,USA</td>
                      <td>completed</td>
                      <td>15/05/2018</td>
                    </tr>
                    <tr>
                      <td>Wes Bos</td>
                      <td>44 Long John, New Mexico,USA</td>
                      <td>completed</td>
                      <td>23/05/2018</td>
                    </tr>
                    <tr>
                      <td>Allan Iverson</td>
                      <td>44 Long John, New Mexico,USA</td>
                      <td>pending</td>
                      <td>18/07/2018</td>
                    </tr>
                    <tr>
                      <td>Wayne Rooney</td>
                      <td>32 Hover Road, New York,USA</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Upcoming Viewings</h3>
              </div>

              <div class="panel-body">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>