<main id="wrapper">
  <div class="container">
    <div class="row">
      <%= render 'shared/sidebar' %>

      <div class="col-sm-9">
      	<%= render 'shared/new_property_menu' %>
      	
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Upload Property Photos</h4>
          </div>

          <div class="panel-body">
          	<div class="row">
          		<div class="col-sm-offset-3 col-sm-6">
          			
          		</div>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>