<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="footer-about">
          <h5>About Us</h5><hr>
          <p class="footer-about__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita vero perspiciatis facere excepturi recusandae fuga est, quod iste.</p>
          <a href="#" class="link_style" data-toggle="modal" data-target="#myModal">Read more...</a>
        </div>
      </div><!--col-->

      <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-3">
        <h5>Account</h5><hr>
        <ul class="footer-list-links">
          <% if !user_signed_in? %>
            <li><%= link_to "Logins", new_user_session_path %></li>
          <% else %>
            <li><%= link_to "Account", edit_user_registration_path %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2">
        <h5>Company</h5><hr>
        <ul class="footer-list-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2">
        <h5>Follow Us</h5><hr>
        <ul class="footer-list-links">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Google-plus</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>