<div class="widget">
	<div id="gmap" style="width: 100%; height: 400px;"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbJ4twIQXjmV6P4YJoY1RE0kHILzGKgBA&callback=initialize" async defer></script>

<script>
	function initialize(){
		let location = {lat: <%= obj.latitude %>, lng: <%= obj.longitude %>}
		let map = new google.maps.Map(document.getElementById('gmap'),{
			center: location,
			zoom: 15
		});

		const marker = new google.maps.Marker({
			position: location,
			map: map
		});
	};
</script>