<% if @property.photos.attached?  %>
	<div class="row">
		<% @property.photos.each do |img| %>
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= image_tag img, class: 'img-responsive' %>
					</div>
					<div class="panel-footer clearfix">
						<span class="pull-right">
							<%= link_to delete_photo_property_path(@property, img.id), remote: true, method: :delete, data: {confirm: 'Are you sure?' } do %>
								<i class="fa fa-trash"></i>
							<% end %>
						</span>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>